<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/general_layout.xhtml">
	<ui:define name="title">Home Page</ui:define>

	<ui:define name="header-title">Register your info</ui:define>

	<ui:define name="body">
		<p:fieldset legend="Register">
			<h:form>
				<p:messages id="messages-errors" autoUpdate="true" />

				<p:fieldset legend="General Information">
					<p:panelGrid columns="2" id="pgPerson">
						<h:column>
							<p:outputLabel value="Firstname" />
							<p:inputText id="firstname" value="#{personMB.person.firstname}"
								required="true" requiredMessage="Enter your firstname"
								validatorMessage="4 min and max 20">
								<f:validateLength minimum="4" maximum="20" />
							</p:inputText>
							<p:message for="firstname" />
						</h:column>

						<h:column>
							<p:outputLabel value="Lastname" />
							<p:inputText id="lastname" value="#{personMB.person.lastname}"
								required="true" requiredMessage="Enter your lastname"
								validatorMessage="4 min and max 20">
								<f:validateLength minimum="4" maximum="20" />
							</p:inputText>
							<p:message for="lastname" />
						</h:column>

						<h:column>
							<p:outputLabel value="Phone number" />
							<p:inputText title="Phone number"
								value="#{personMB.person.phone}" required="true"
								requiredMessage="Enter your phone" id="phone">
								<f:validator validatorId="phoneValidator" />
							</p:inputText>
							<p:message for="phone" />
						</h:column>

						<h:column>
							<p:outputLabel value="Gender" />
							<p:selectOneRadio id="personGender"
								value="#{personMB.person.gender}" required="true"
								requiredMessage="Choose a gender">
								<f:selectItem itemLabel="Male" itemValue="M" />
								<f:selectItem itemLabel="Female" itemValue="F" />
							</p:selectOneRadio>
							<p:message for="personGender" />
						</h:column>

						<h:column>
							<p:outputLabel value="Date of born" />
							<p:calendar id="personBornDate"
								value="#{personMB.person.bornDate}" required="true"
								requiredMessage="Enter a date of born" />
							<p:message for="personBornDate" />
						</h:column>
					</p:panelGrid>
				</p:fieldset>
				<br />
				<p:fieldset legend="Usuario">
					<p:panelGrid columns="2" id="pgUser">
						<p:outputLabel value="Type of user" />
						<p:selectOneMenu id="userType" value="#{personMB.user.type}"
							required="true" requiredMessage="Enter of type">
							<f:selectItem itemValue="A" itemLabel="Administrator" />
							<f:selectItem itemValue="U" itemLabel="User" />
							<f:selectItem itemValue="M" itemLabel="Manager" />
						</p:selectOneMenu>

						<p:outputLabel value="Username" />
						<p:inputText id="personUsername" value="#{personMB.user.username}"
							required="true" requiredMessage="Enter an username" />

						<p:outputLabel value="Password" />
						<p:password id="password01" value="#{personMB.user.password}"
							match="password01" feedback="true"
							validatorMessage="The passwords dont do match"
							promptLabel="Enter a password strong" required="true"
							requiredMessage="Enter a password" />

						<p:outputLabel value="Confirm your password" />
						<p:password id="password02" required="true"
							requiredMessage="Repeat the password" />
					</p:panelGrid>
				</p:fieldset>
				<br />
				<p:commandButton icon="pi pi-save" update="pgUser, pgPerson"
					action="#{personMB.register()}" value="Register" />
			</h:form>
		</p:fieldset>


		<c:if test="#{personMB.people.size() > 0}">
			<h:form>
				<h:commandLink action="index" value="Go to INDEX" />
			</h:form>
			<p:panelGrid columns="2" layout="flex">
				<p:dataTable var="person" value="#{personMB.people}"
					paginator="true" rows="10">
					<p:column field="firstname" headerText="Firstname" />
					<p:column field="lastname" headerText="Lastname" />
					<p:column field="phone" headerText="Phone" />
				</p:dataTable>
			</p:panelGrid>
		</c:if>
	</ui:define>
</ui:composition>
</html>