<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layouts/guess_layout.xhtml">
	<ui:define name="title">Index Page from index.xhtml</ui:define>
	<ui:define name="header-title">#{_['app.title']}</ui:define>
	<ui:define name="body">
		<h4>#{indexController}</h4>
		<h4>#{templateController}</h4>
		<h:form>
			<p:messages id="messages-errors" showDetail="true" autoUpdate="true" />

			<p:panelGrid columns="2" id="pgLogin">
				<p:outputLabel for="userUsername" value="Username" />
				<p:inputText id="userUsername"
					value="#{indexController.user.username}" required="true" />

				<p:outputLabel for="userPassword" value="Password" />
				<p:password id="userPassword"
					value="#{indexController.user.password}" required="true" />

				<h:column />
			</p:panelGrid>
			<p:commandButton icon="pi pi-sign-in" value="Login" update="pgLogin"
				ajax="false" action="#{indexController.login()}" process="@this" />
		</h:form>
		<p:separator />
		<h:form>
			<p:link value="Go to register" outcome="home" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
